<div class="jumbotron">
  <div class="container">
    <div class="row">

      <div class="col-md-8"></div>

      <div class="col-md-4 border">
        <form (ngSubmit)="updateUserPassword()">
            <legend>Update User Password</legend>
        
            <div class="form-group">
              <label for="email">Email Address</label>
              <input disabled="disabled" [(ngModel)]="user.email" type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Email Address">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
          
            <div class="form-group">
              <label for="password">Password</label>
              <input required="required" [(ngModel)]="user.password" type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update Password</button>
                <button type="button" style="float: right;" class="btn btn-secondary" (click)="backHome()">Cancel</button>
            </div>
            <div>
              <span class="label label-danger">{{message}}</span>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>