<body data-aos-easing="ease" data-aos-duration="1000" data-aos-delay="0">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PZBWL34" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="container about-us-block">
        <div class="site-wrapper clearfix">
            <div class="main-content">
                <h3 class="text-center">Who we are?</h3>
                <p>We started our journey back in 2014 with one goal in mind- to make lives easier! As a
                    technology-first company, we develop tech-driven solutions for the everyday challenges of
                    Bangladeshi people. Shohoz, a pioneer in Bangladesh’s travel industry is now the largest online
                    ticket destination in the country. We put customers first and facilitate them with the freedom to
                    choose from hundreds of operators and routes, compare prices, offer the best deals and safeguards-
                    all within a few minutes and with just a few taps on their phone. </p>
                <p>Shohoz is more than just a ticketing platform, Shohoz is a lifestyle! We empower our people by
                    solving and simplifying their travel needs and let them enjoy travelling, the Shohoz way! </p>
            </div>
        </div>

        <div class="site-wrapper clearfix mission-section">
            <div class="main-content">
                <h3 class="text-center our-values-title">Our Values</h3>
                <div class="why-deserve-block">
                    <div data-aos="slide-up" data-aos-delay="50" class="item-block aos-init aos-animate">
                        <img src="https://www.shohoz.com/v2/assets/img/item-icon1.svg" alt="Shohoz">
                        <h4>Love to innovate</h4>
                        <p>We are the pioneer of digitizing transportation in Bangladesh. We innovate services that
                            solve daily hassles, all the while leveraging technology!</p>
                    </div>

                    <div data-aos="slide-up" data-aos-delay="100" class="item-block aos-init aos-animate">
                        <img src="https://www.shohoz.com/v2/assets/img/item-icon4.svg" alt="Shohoz">
                        <h4>Committed to safety</h4>
                        <p>We go the extra mile when it comes to our commitment to safety. Since the inception of
                            Shohoz, the company has gone above and beyond to ensure the safety of its valued passengers.
                        </p>
                    </div>

                    <div data-aos="slide-up" data-aos-delay="150" class="item-block aos-init aos-animate">
                        <img src="https://www.shohoz.com/v2/assets/img/item-icon2.svg" alt="Shohoz">
                        <h4>Believe in empowerment</h4>
                        <p>We absolutely believe in the economic empowerment of Bangladeshi people. Thus, offering
                            freedom to choose from the multiple services to make life easier.</p>
                    </div>
                </div>
                <div class="why-deserve-block why-deserve-block-next text-center">
                    <div data-aos="slide-up" data-aos-delay="50" class="item-block aos-init aos-animate">
                        <img src="https://www.shohoz.com/v2/assets/img/item-icon3.svg" alt="Shohoz">
                        <h4>Value people</h4>
                        <p>We are a people driven organization and believe that our company’s growth lies with our
                            employees. They are the key reason for our success.</p>
                    </div>

                    <div data-aos="slide-up" data-aos-delay="150" class="item-block aos-init aos-animate">
                        <img src="https://www.shohoz.com/v2/assets/img/item-icon6.svg" alt="Shohoz">
                        <h4>Taking responsibility</h4>
                        <p>We dream of a sustainable future for our community. Wherefore we aspire to offer services
                            that are value-for-money and do not harm our environment.</p>
                    </div>
                </div>
            </div>
        </div>


    </div>



</body>