<div class="main-content m-top-200">
    <div class="site-wrapper clearfix">
        <!-- Tab Block -->
        <div class="clearfix term-tab-wrapper">
            <ul class="term-tab">
                <!-- <li class="item">
                    <a href="https://www.shohoz.com/terms-of-use/en" class="tab-link current">Ticket</a>
                </li> -->
                <!-- <li class="item">
                    <a href="https://www.shohoz.com/food/terms/en" class="tab-link" >Food</a>  
                </li> -->
                <!-- <li class="item">
                    <a href="https://www.shohoz.com/truck/terms/en" class="tab-link" data-tab="tab-2">Truck</a>
                </li>  -->
                
                
                <!-- <li class="item">
                    <a href="https://learn.shohoz.com/terms/en" class="tab-link" data-tab="tab-3">Learn</a>
                </li> -->

                <!-- <li class="item">
                    <a href="https://www.shohoz.com/recharge/terms/en" class="tab-link" >Recharge</a>
                </li> -->
            </ul>
        </div>
        <div class="term-tab-content">
            <div id="tab-1" class="tab-content clearfix current">
                <h1>Terms of use</h1>
                <p>Shohoz.com is an online ticketing service. We do not operate any buslines of our own.</p>

                <ul>
                    <li>1. Shohoz.com's liabilities are limited to:                            <ul>
                            <li> Issuing a valid ticket for its network of transportation operators/event organizers (“operators”).</li>
                            <li>Providing refund and support in the event of cancellation as per Shohoz.com’s policy</li>
                            <li>Our liability does not include the following:                                    <ul>
                                                                                <li>The operator's vehicle/event not departing / reaching on time.                                                                                    </li><li>The bus operator's employees being rude.                                                                                    </li><li>The operator's seats etc. not being up to the customer's expectation.                                                                                    </li><li>The operator cancelling the trip, changing the type of vehicle or changing the seat.                                                                                    </li><li>The baggage of the customer getting lost / stolen /damaged.                                                                            </li></ul>
                            </li>
                        </ul>
                    </li>
                                                <li>
                            <p>2. Passengers are requested to arrive at the boarding point 30 minutes prior to bus departure. If not, the ticket is deemed cancelled.</p>
                        </li>
                                                <li>
                            <p>3. Passengers need to bring a paper copy of the ticket at boarding or they may not be allowed to board the vehicle or attend the event. Without printed copy, customers taking digital copy of the e-tickets will be at their own risk of not being being able to travel/attend the event.</p>
                        </li>
                                                <li>
                            <p>4. The operator reserves the right to cancel/delay trips/events, change vehicles/venue and change seats due to unavoidable reasons.</p>
                        </li>
                                                <li>
                            <p>5. Luggage policy is as per operator’s policies. The operator or Shohoz does not bear any consequences for the passenger carrying illegal goods.</p>
                        </li>
                                        </ul>

                <h5>Communication Policy</h5>

                <ul>

                                                <li>
                            <p>1. By accepting the terms and conditions the customer accepts that Shohoz.com may send the alerts to the mobile phone number provided by the customer while registering for the service or to any such number replaced and informed by the customer. The customer acknowledges that the alerts will be received only if the mobile phone is in ‘On’ mode to receive the SMS. If the mobile phone is in ‘Off’’ mode then the customer may not get / get after delay any alerts sent during such period.</p>
                        </li>
                                                <li>
                            <p>2. Shohoz.com will make best efforts to provide the service and it shall be deemed that the customer shall have received the information sent from Shohoz.com as an alert on the mobile phone number provided during the course of ticket booking and Shohoz.com shall not be under any obligation to confirm the authenticity of the person(s) receiving the alert. The customer cannot hold Shohoz.com liable for non-availability of the service in any manner whatsoever.</p>
                        </li>
                                                <li>
                            <p>3. The customer acknowledges that the SMS service provided by Shohoz.com is an additional facility provided for the customer’s convenience and that it may be susceptible to error, omission and/ or inaccuracy. In the event the customer observes any error in the information provided in the alert, Shohoz.com shall be immediately informed about the same by the customer and Shohoz.com will make best possible efforts to rectify the error as early as possible. The customer shall not hold Shohoz.com liable for any loss, damages, claim, expense including legal cost that may be incurred/ suffered by the customer on account of the SMS facility.</p>
                        </li>
                                                <li>
                            <p>4. The customer acknowledges that the clarity, readability, accuracy, and promptness of providing the service depend on many factors including the infrastructure, connectivity of the service provider. Shohoz.com shall not be responsible for any non-delivery, delayed delivery or distortion of the alert in any way whatsoever.</p>
                        </li>
                                                <li>
                            <p>5. The customer agrees to indemnify and hold harmless Shohoz.com and the SMS/email service provider including its officials from any damages, claims, demands, proceedings, loss, cost, charges and expenses whatsoever including legal charges and attorney fees which Shohoz.com and the SMS/email service provider may at any time incur, sustain, suffer or be put to as a consequence of or arising out of (i) misuse, improper or fraudulent information provided by the customer, (ii) the customer providing incorrect number/address or providing a number/address that belongs to that of an unrelated third party, and/or (iii) the customer receiving any message relating to the reservation number, travel itinerary information, booking confirmation, modification to a ticket, cancellation of ticket, change in bus schedule, delay, and/or rescheduling from Shohoz.com and/or the SMS/email service provider.</p>
                        </li>
                                                <li>
                            <p>6. By accepting the terms and conditions the customer acknowledges and agrees that Shohoz.com may call the mobile phone number/or email provided by the customer while registering for the service or to any such number/address replaced and informed by the customer, for the purpose of collecting feedback from the customer regarding their travel, the bus facilities and/or services of the bus operator.</p>
                        </li>
                                        </ul>

                <h5>Miscellaneous</h5>

                <ul>

                                                <li>
                            <p>To the extent permitted by law, these terms and conditions and the provision of our services shall be governed by and construed in accordance with Bangladesh law. You agree to resolve amicably, first and foremost with Shohoj Limited, any dispute or claim related to the website or related to any services or products provided or any representations made by us. You also agree that in the event that you have contacted us and subsequent to discussion with Shohoj Limited, if we fail to resolve your claims within 60 days, you may refer the matter to arbitration and all such claims shall be resolved by binding arbitration. Any dispute arising out of these general terms and conditions and our services shall exclusively be submitted to the competent courts in Dhaka, Bangladesh. You also agree and confirm that failure to comply with such instructions shall result in a breach of Terms and Shohoj Limited will not held as liable as such.</p>
                        </li>
                                                <li>
                            <p>If any provision of these terms and conditions is or becomes invalid, unenforceable or non-binding, you shall remain bound by all other provisions hereof. In such event, such invalid provision shall nonetheless be enforced to the fullest extent permitted by applicable law, and you will at least agree to accept a similar effect as the invalid, unenforceable or non-binding provision, given the contents and purpose of these terms and conditions.</p>
                        </li>
                                                <li>
                            <p>Due to maintenance demand service charges might be higher than usual during Eid period.</p>
                        </li>
                                                <li>
                            <p>Note: Terms and conditions might time to time update or change without any notice.</p>
                        </li>
                                        </ul>
            </div>
        </div>
    </div>
</div>
